
<section>
    <a href='/dashboard' class='justify-content-end'>&larr; back to dashboard</a>
    <h2 class='title'>create a new blog</h2>
    <hr>

    <form class='new-blog-form'>

        <div>
            <label for="blog-title">Title:</label>
            <input class='input' type='text' id='blog-title' name='blog-title' placeholder='insert blog title here' />
        </div>

        <div>
            <label for='blog-content'>content:</label>
            {{!-- may not need the input tag with bootstrap-4 textarea --}}
            {{!-- <input id='blog-content' name='blog-content' placeholder='insert blog content here' /> --}}
            <textarea class='form-control rounded-3 z-depth-1' name='blog-content' id='blog-content' rows='10' placeholder='insert blog content here'></textarea>
         </div>
         <button type='submit' class='btn btn-primary justify-content-end'>create blog</button>
    </form>
</section>

<script src='/js/create-blog.js'></script>